terraform {
  backend "s3" {
    bucket       = "SUBSTITUA_PELO_BUCKET_DO_BOOTSTRAP"
    key          = "togglemaster/dev/terraform.tfstate"
    region       = "us-east-2"
    encrypt      = true
    use_lockfile = true
  }
}

